.containerDetail {
  padding: 32px;
  min-width: 800px;
}

.productDetailImage {
  max-height: 680px;
  max-width: 680px;
  height: 680px;
  width: 680px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom: 1px solid #ccc;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.infoContainer > p {
  color: #333;
}
.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.descriptionContainer > .title {
  font-size: 28px;
  font-weight: 400;
  color: #333;
}
